# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.ActionRPG.iml
# Datasource local storage ignored files
/../../../../../../../:\A_UnrealProject\HFFC++\ActionRPG\.idea\.idea.ActionRPG\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
